{%extends 'layouts/base.html' %}
{%load static%}
{%block content%}
<div class="tab-content tab-content-basic">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
     <div class="row">
        <div class="col-sm-12">
          <div class="statistics-details d-flex align-items-center justify-content-between">
            <div>
              <p class="statistics-title">Row X Column</p>
              <h5 class="">{{rows}}X{{columns}}</h5>
              {% comment %} <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span></span></p> {% endcomment %}
            </div>
            <div>
              <p class="statistics-title">Total nulls</p>
              <h5 class="rate-percentage">{{total_nulls|safe}}</h5>
              {% comment %} <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span></span></p> {% endcomment %}
            </div>
            <div>
              <p class="statistics-title">% Null</p>
              <h5 class="rate-percentage">{{null_percentage|escape}}%</h5>
              {% comment %} <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span></span></p> {% endcomment %}
            </div>
            <div class="d-none d-md-block">
              <p class="statistics-title">Data Set Size</p>
              <h5 class="rate-percentage">{{size}}MB</h5>
              {% comment %} <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span></span></p> {% endcomment %}
            </div>
            <div class="d-none d-md-block">
              <p class="statistics-title">Row Duplicates</p>
              <h5 class="rate-percentage">{{duplicates}}</h5>
              {% comment %} <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span></span></p> {% endcomment %}
            </div>
            <div class="d-none d-md-block">
              <p class="statistics-title">Column with Highest Null</p>
              <h5 class="rate-percentage">{{highest_name}}: {{highest_count}}</h5>
              {% comment %} <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span></span></p> {% endcomment %}
            </div>
          </div>
        </div>
      </div> 
      <div class="col-md-6 col-lg-12 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="row">
              <h4>Data Preview</h4>
            </div>
            <div class=" card-body table-responsive">
              <table class="table table-striped">
                <thead>
                    <tr>
                        {% for column in preview %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in preview.values %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-12 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="row">
              <form>
                <div class="form-group">
                  <label>Data cleaning tasks:</label>
                  <form action="{% url 'cleaning_form' %}" method="post">
                    {% csrf_token %}
                    <ul>
                      <li><input type="checkbox" name="duplicate_removal" value="1"> Removing duplicates</li>
                      <li><input type="checkbox" name="missing_value_handling" value="1"> Handling missing values</li>
                      <li><input type="checkbox" name="data_format_standardization" value="1"> Standardizing data formats</li>
                      <li><input type="checkbox" name="data_normalization" value="1"> Normalizing data</li>
                      <li><input type="checkbox" name="outlier_removal" value="1"> Removing outliers</li>
                      <li><input type="checkbox" name="error_handling" value="1"> Handling errors</li>
                      <li><input type="checkbox" name="merging_data" value="1"> Merging data from multiple sources</li>
                      <li><input type="checkbox" name="categorical_data_handling" value="1"> Handling categorical data</li>
                      <li><input type="checkbox" name="column_removal" value="1"> Removing unnecessary columns</li>
                      <li><input type="checkbox" name="data_validation" value="1"> Validating data</li>
                    </ul>
                    <button type="submit">Submit</button>
                  </form>
                  
                </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
 
      {% comment %} <div class="row">
        <div class="col-lg-8 d-flex flex-column">
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title card-title-dash">Market Overview</h4>
                     <p class="card-subtitle card-subtitle-dash">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </div>
                    <div>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> This month </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <h6 class="dropdown-header">Settings</h6>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                    <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">$36,2531.00</h2><h4 class="me-2">USD</h4><h4 class="text-success">(+1.37%)</h4></div>
                    <div class="me-3"><div id="marketing-overview-legend"></div></div>
                  </div>
                  <div class="chartjs-bar-wrapper mt-3">
                    <canvas id="marketingOverview"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
              <div class="card card-rounded table-darkBGImg">
                <div class="card-body">
                  <div class="col-sm-8">
                    <h3 class="text-white upgrade-info mb-0">
                      Enhance your <span class="fw-bold">Campaign</span> for better outreach
                    </h3>
                    <a href="#" class="btn btn-info upgrade-btn">Upgrade Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title card-title-dash">Pending Requests</h4>
                     <p class="card-subtitle card-subtitle-dash">You have 50+ new requests</p>
                    </div>
                    <div>
                      <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Add new member</button>
                    </div>
                  </div>
                  <div class="table-responsive  mt-1">
                    <table class="table select-table">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-flat mt-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                            </div>
                          </th>
                          <th>Customer</th>
                          <th>Company</th>
                          <th>Progress</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check form-check-flat mt-0">
                              <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex ">
                              <img src="{% static 'images/faces/face1.jpg' %}" alt="">
                              <div>
                                <h6>Brandon Washington</h6>
                                <p>Head admin</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <h6>Company name 1</h6>
                            <p>company type</p>
                          </td>
                          <td>
                            <div>
                              <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                <p class="text-success">79%</p>
                                <p>85/162</p>
                              </div>
                              <div class="progress progress-md">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                          <td><div class="badge badge-opacity-warning">In progress</div></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-flat mt-0">
                              <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex">
                              <img src="{% static 'images/faces/face2.jpg' %}" alt="">
                              <div>
                                <h6>Laura Brooks</h6>
                                <p>Head admin</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <h6>Company name 1</h6>
                            <p>company type</p>
                          </td>
                          <td>
                            <div>
                              <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                <p class="text-success">65%</p>
                                <p>85/162</p>
                              </div>
                              <div class="progress progress-md">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                          <td><div class="badge badge-opacity-warning">In progress</div></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-flat mt-0">
                              <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex">
                              <img src="{% static 'images/faces/face3.jpg' %}" alt="">
                              <div>
                                <h6>Wayne Murphy</h6>
                                <p>Head admin</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <h6>Company name 1</h6>
                            <p>company type</p>
                          </td>
                          <td>
                            <div>
                              <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                <p class="text-success">65%</p>
                                <p>85/162</p>
                              </div>
                              <div class="progress progress-md">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                          <td><div class="badge badge-opacity-warning">In progress</div></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-flat mt-0">
                              <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex">
                              <img src="{% static 'images/faces/face4.jpg' %}" alt="">
                              <div>
                                <h6>Matthew Bailey</h6>
                                <p>Head admin</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <h6>Company name 1</h6>
                            <p>company type</p>
                          </td>
                          <td>
                            <div>
                              <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                <p class="text-success">65%</p>
                                <p>85/162</p>
                              </div>
                              <div class="progress progress-md">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                          <td><div class="badge badge-opacity-danger">Pending</div></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check form-check-flat mt-0">
                              <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex">
                              <img src="{% static 'images/faces/face5.jpg' %}" alt="">
                              <div>
                                <h6>Katherine Butler</h6>
                                <p>Head admin</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <h6>Company name 1</h6>
                            <p>company type</p>
                          </td>
                          <td>
                            <div>
                              <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                <p class="text-success">65%</p>
                                <p>85/162</p>
                              </div>
                              <div class="progress progress-md">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                          <td><div class="badge badge-opacity-success">Completed</div></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row flex-grow">
            <div class="col-md-6 col-lg-6 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body card-rounded">
                  <h4 class="card-title  card-title-dash">Recent Events</h4>
                  <div class="list align-items-center border-bottom py-2">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        Change in Directors
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar text-muted me-1"></i>
                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list align-items-center border-bottom py-2">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        Other Events
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar text-muted me-1"></i>
                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list align-items-center border-bottom py-2">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        Quarterly Report
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar text-muted me-1"></i>
                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list align-items-center border-bottom py-2">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        Change in Directors
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-calendar text-muted me-1"></i>
                          <p class="mb-0 text-small text-muted">Mar 14, 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="list align-items-center pt-3">
                    <div class="wrapper w-100">
                      <p class="mb-0">
                        <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <h4 class="card-title card-title-dash">Activities</h4>
                    <p class="mb-0">20 finished, 5 remaining</p>
                  </div>
                  <ul class="bullet-line-list">
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                        <p>Just now</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Oliver Noah</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Jack William</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Leo Lucas</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Thomas Henry</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between">
                        <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
                        <p>1h</p>
                      </div>
                    </li>
                  </ul>
                  <div class="list align-items-center pt-3">
                    <div class="wrapper w-100">
                      <p class="mb-0">
                        <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>{% endcomment %}
    
 
           
        </div>
      </div>
    </div>
  </div>
  {%endblock%}